html {
  height: 100%;
}

/* Remove Below */

#header a.logo {
  font-size: 35px;
  font-weight: bold;
  color: #014d65;
  padding-top: 12px;
}

#header {
  height:81px;
}
#main {
  background-position-y: -10px
}
.topsearch .nav {
  position:relative;
  top:9px;
}

.category_index { float: left; margin: 0.25em; width:19em; }
.category_index h2 { background: #ddd; text-align: center; padding: 0.25em; margin-bottom: 0.5em; }
.category_index dt, .category_index dd { margin-right: 0.5em; }
.category_index dt { margin-left: 0.5em !important; }
.category_index dd { margin-left: 1.5em !important; }


/*********************/
/*      Sidebar      */
/*********************/

#guides .guide .sidebar h3 {
  padding: 4px;
  margin: .2em 0;
}
#guides .guide .sidebar h3:focus { outline: none; }

.sidebar dl { padding: 0 0.5em 0.5em 0.5em; }
.sidebar dt {
  font-weight: bold;
  margin-top: 0.5em;
}

.ui-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  background-position: -2px 2px;
  background-repeat: no-repeat;
}
.ui-icon-triangle-expand { background-image: url(/images/expand.png); }
.ui-icon-triangle-collapse { background-image: url(/images/collapse.png); }

div.sidebar-shell {
  margin: 0 0;
}

input.search {
  font-size: 12px;
  width: 308px;
  padding: 5px 5px 5px 23px;
  margin-bottom: 8px;
  font-family: Helvetica,Arial,freesans,sans-serif;
  border: 1px solid #DDD;
  border-top-color: #CCC;
  border-bottom-color: #EAEAEA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url(/images/search_icon.png) 5px 50% no-repeat white;
}

